@{
    ViewData["Title"] = "Home Page";
}

<body class="home-page-background">
    <div class="text-center">
        <h1 class="welcome-text" style="color:white">Welcome to the best Rent-A-Car!</h1>
        <strong class="welcome-text" style="color:white">Don't drink and drive!</strong>
    </div>
</body>