@using Best_Rent_A_Car.Data;
@using Microsoft.AspNetCore.Identity;
@model Best_Rent_A_Car.Models.CarReservation
@inject SignInManager<User> _signInManager;
@inject UserManager<User> _userManager;


@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>CarReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.Cars"></select>
                <form1 asp-action="Search">

                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="VisibleUserID" type="hidden" class="form-control" value="@ViewData["LoggedInUserId"]" readonly />
                    </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
